<div class="card_3">
  <div class="card_3_content" >
    <div class="card_3_header" >
      <div class="circle">1</div>
      <h2 class="card_3_title" >Card Title</h2>
    </div>
    <div class="items" >
      <li class="item" ><img class="imgs img_1" src="<%= asset_path 'medications-1.png' %>" >
        <p class="item_text" >Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
      </li>
      <li class="item" ><img class="imgs img_2" src="<%= asset_path 'truck-1.png' %>" >
        <p class="item_text" >Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
      </li>
      <li class="item" ><img class="imgs img_3" src="<%= asset_path 'inhaler.png' %>" >
        <p class="item_text" >Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
      </li>
    </div>
  </div>

</div>

