<div class="card_4" >
  <h1 class="crad_4_title" > Title here</h1>
  <div class="card_4_line" ></div>

  <div class="card_4_content">
    <div class="card_4_list">
      <div class="card_4_list_content">
        <ul class="items">
          <li class="item" >
            <span class="circle" ></span>
            <div class="item_texts" >
              <h3 class="item_title" >one</h3>
              <p class="item_sub" >Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
          </li>
          <li class="item" >
            <span class="circle" ></span>
            <div class="item_texts" >
              <h3 class="item_title" >two</h3>
              <p class="item_sub" >amet consectetur adipisicing elit. </p>
            </div>
          </li>
          <li class="item" >
            <span class="circle" ></span>
            <div class="item_texts" >
              <h3 class="item_title" >three</h3>
              <p class="item_sub" >Lorem ipsum dolnsectetur adipisicing elit. </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="card_4_list_footer">
        <li class="footer_item" >
          <span class="circle" ></span>

          <div class="footer_item_texts" >
            <div class="card_4_line_2" ></div>

            <h3 class="footer_item_title" >Done</h3>
            <p class="footer_item_sub" >Description here</p>
            <p class="final_sentence" >Final sentence</p>
          </div>
        </li>
      </div>
    </div>
    <div class="side_img" ></div>
  </div>
</div>