<div class="footer">
  <div class="logos" >
    <div class="footer_logo" >LOGO</div>
    <div class="social_networks" >
      <img alt="insta"  class="insta_logo" src="<%= asset_path 'insta-logo.svg' %>" >
      <img alt="facebook"  class="face_logo" src="<%= asset_path 'facebook.svg' %>" >
    </div>
  </div>
  <div class="footer_groups" >
    <div class="footer_adresses" >
      <p>Av. de la Industria 300,</p>
      <p>Punto Central Local PB-C-11,</p>
      <p>San Pedro Garza García, N.L. 66279</p>
    </div>
    <div class="group_2" >
      <a> link here </a>
      <a> link here </a>
    </div>
    <div class="group_3" >
      <a> link here </a>
      <a> link here </a>
    </div>
    <div class="phone_number" >
      <p class="label" > label </p>
      <p> <strong> 01020304505</strong> </p>
    </div>
  </div>
  <div class="line" ></div>
  <div class="copyrights" >
    <p>copyright here</p>
    <div class="links" >
      <a>link here</a>
      <a>link here</a>
    </div>
  </div>
</div>