<div class="footer">
  <div class="logos" >
    <div class="footer_logo" ><%= image_tag "suscrimed-logo-full.png", width: 100 %></div>
    <div class="social_networks" >
      <img alt="insta"  class="insta_logo" src="<%= asset_path 'insta-logo.svg' %>" >
      <img alt="facebook"  class="face_logo" src="<%= asset_path 'facebook.svg' %>" >
    </div>
  </div>
  <div class="footer_groups" >
    <div class="footer_adresses" >
      <p>Av. Paseo de la Reforma 296</p>
      <p>Piso 33, Local 205</p>
      <p>San Miguel de Chapultepec, CDMX</p>
    </div>
    <div class="group_2" >
      <a> Farmacia </a>
      <a> Suscripcion </a>
    </div>
    <div class="group_3" >
      <a> Reseñas </a>
      <a> Blog </a>
    </div>
    <div class="phone_number" >
      <p class="label" > Llamanós </p>
      <p> <strong> 333-100-3703</strong> </p>
    </div>
  </div>
  <div class="line" ></div>
  <div class="copyrights" >
    <p>© 2021 Suscrimed. Todos los derechos reservados.</p>
    <div class="links" >
 <!--      <a>Términos y Condiciones</a> -->
      <a>Aviso de Privacidad</a>
    </div>
  </div>
</div>
