   <div  onclick="toggleSideBar()" id="overlay" class=""></div>
   <div class="navbar" >
       <div class="logo" >
           <%= image_tag "nav-logo.png", width: 50 %>
       </div>
       <ul class="nav_links_left ">
           <h3 onclick="toggleSideBar()" class="sidebar_close_button" >Close</h3>
       <div class="nav_links" >
           <li class="nav_link_el" >
              <a  href="#"> Suscripcion</a>
           </li>
           <li class="nav_link_el" >
               <a  href="#"> Farmacia</a>
           </li>
           <li class="nav_link_el" >
               <a  href="#"> Reseñas</a>
           </li>
           <li class="nav_link_el" >
               <a  href="#"> Blog</a>
           </li>
       </div>
       </ul>
       <ul class="nav_links_right ">
           <li class="nav_link_el responsive_links" >
               <a  href="#">Inicia Sesión</a>
           </li>
           <li class=" btn_action nav_link_el " >
               <button class="button button_fill_primary" >Empezar</button>
           </li>
            <li  class=" btn_menu nav_link_el button" >
               <h3 onclick="toggleSideBar()" class=" responsive_links sidebar_open_button" >Menu</h3>
            </li>
       </ul>
</div>
