<div class="product_card" >
  <div class="product_card_content" >
    <div class="product_card_img" >
      <img class="product_img" src="<%= asset_path '100mg 30 cápsulas.jpg' %>" >
    </div>
    <div class="product_card_texts" >
      <h1 class="product_card_title">Product title here</h1>
      <h4 class="product_card_sub" >Product description here</h4>
      <div class="product_card_badge_blue" > <span class="product_badge_text" >Badge text</span></div>
    </div>
  </div>
  <div class="product_card_line" ></div>
  <div class="product_card_footer" >
    <h2>$1,820.00</h2>
  </div>
</div>
    