<div class="stats_card" >
  <div class="stats_card_component" >
    <h1 class="title" >Your title here</h1>
    <div class="stats" >
    <div class="stat stat_1" >
      <h3>100K+</h3>
      <h4 class="sub_text" >Orders delivered</h4>
    </div>
      <div class="stat stat_2" >
        <h3>60K+</h3>
        <h4 class="sub_text" >App downloaded</h4>
      </div>
  </div>
  </div>
</div>