

<div class="container d-flex justify-content-center">
    <div class="card_checkout mt-5 p-4 text-black">
        <p class="top mb-1">Gracias por tu orden </p>
        <h1>Resumen de Orden</h1>
        <p><strong>Tu orden va ser de </strong> for <strong><%= humanized_money_with_symbol @invoice.invoice_details.sum(:subtotal)/100 %></strong></p>
        <button id="pay" class="btn btn-primary">Pagar</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @invoice.checkout_session_id %>'
            });
          });
        </script>
    </div>
</div>

<div class="good">
</div>
