@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif
}

.card {
    width: 400px;
    border: none;
    border-radius: 10px;
    margin: 20px;
    color: black;

}





