@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Signika&display=swap');


/*colors*/
$brown: #a77431;
$grey: #808080;
$grey2: #d4d4d4a9;
$black-darker: #000;

@keyframes resize_imgs {
  from {width: 100%}
  to {width: 10%}
}

.references{
    background-color: rgba(224, 198, 141, 0.308);
    font-family: 'Montserrat';

    .references_content{
        display: flex;
        flex-direction: column;
        padding: 50px;
        .title{
            display: flex;
            justify-content: center;
            text-align: center;
            margin-bottom: -0px ;
            font-size: 23px;
            font-weight: 400;
            color: $black-darker;
        }
        .sub_title{
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            text-align: center;
            font-size: 16px;
            color: $brown;
          line-height: 2;
        }
        .line{
            border: 2px $grey2 solid;
            width: 70%;
            margin: auto;
          @media (max-width: 800px) {
            width: 100%;
          }
        }
      .titles{
        .brand-text{
          display: none;
        }
        .active{
          display: block;
        }
      }
        .brands{
            display: flex;
            margin: auto;
            justify-content: center;
            padding: 20px;
            font-weight: 100;
            font-size: 10px;
            width: 100%;
            //flex-wrap: wrap;
            @media (max-width: 400px) {
                flex-wrap: wrap;
              }
          .brand{
              padding: 20px;
              max-width: 200px;
              margin-top: -25px;
              cursor: pointer;
              opacity: 0.4;
              filter: grayscale(100%);
              @media (max-width: 400px) {
                margin-top: 10px;
              }
            }
          .active{
            opacity: 1;
            filter: grayscale(0%);
            border-top: 4px black solid;
          }
        }
    }
}
