@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



/* COLORS */


body, html{
  margin: 0;
  height: 100%;

}
.btn_action{
  display: flex;

  @media screen and (max-width: 600px) {
    display: none;
  }
}




.navbar{
  display: flex;
  width: auto;
  min-width: 300px;
  height: 100px;
  top: 0;
  background-color: $white;
  position: sticky !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.08);
  z-index: 10;

  .logo{
    padding-left: 2%;
    margin:auto;
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
  .nav_links_left{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    .nav_links{
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      font-family: "Poppins";
      font-size: 15px;
      font-weight: 100;
    }
    .sidebar_close_button{
      display: none;
    }
    li{
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
  }
  .nav_links_right{
    display: flex;
    flex: none;
     align-items: center;
     @media screen and (max-width: 600px) {
      margin-left: -80px;
      color: $black-darker;
      display: flex;
      align-self: flex-start;
    }
    .btn_menu{
      cursor: pointer;
      @media screen and (min-width: 1000px) {
        display: none;
      }
  }
}
  .nav_link_el{
    margin: 20px;
    font-weight: 300;
    font-family: "Poppins";
    list-style-type: none;
    font-size: 15px;

    .btn_action{
     margin-top: -15px !important;
     position: absolute;
    }
    a{
      text-decoration: none;
      color: $black-darker;
    }
    a:hover{
      color:$light-blue;
    }
  }
}

.nav_link_register{
    margin: 20px;
    font-weight: 300;
    font-family: "Poppins";
    list-style-type: none;
    font-size: 18px;



    .btn_action{
     margin-top: -15px !important;
     position: absolute;
    }
    a{
      text-decoration: none;
      color: $green;
    }
    a:hover{
      color:$light-blue;
    }
  }



.responsive_menu{
  z-index: 10;
.logo{
  display: none;
}
  .nav_links_right{
      flex-direction: row;
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 10; /* Stay on top */
      right:  5rem;
      bottom: 0;
      overflow-x: hidden; /* Disable horizontal scroll */
      .responsive_links{
        display: none;
      }
    }
  .nav_links_left{
      flex-direction: column;
      height: 100%; /* Full-height: remove this if you want "auto" height */
      width: 320px; /* Set the width of the sidebar */
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 10; /* Stay on top */
      right:  0;
      margin-top: 0;
      background-color: white;
      overflow-x: hidden; /* Disable horizontal scroll */
      justify-content: end;
      text-align: left;
      @media screen and (max-width: 400px ) {
        width: 100%; /* Set the width of the sidebar */
      }
      .nav_links{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: -50px;
        @media screen and (max-width: 400px ) {
        margin-left: 30px;
        }
      }
      .nav_link_el{
      font-family: "Poppins";
      color: $black-darker;
      font-weight: 400;
      display: flex;
      align-self: flex-start;
      font-size: 15px;
    }
    .sidebar_close_button{
      display: flex;
      align-self: flex-end;
      padding: 10px;
      margin-bottom: 50px;
      cursor: pointer;
    }
  }

  .btn_menu{
   display: none;
  }
  .btn_action{
    display: block;
   }
}
/* class for scroll effect */
.fixed{
  box-shadow: -1px 2px 3px -1px $grey;
  height: 80px;
  top: 0;
}
.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
  cursor: pointer;
}

.dropdown-menu{
  margin-right: 140px;
}



