.signup_page{
  font-family: 'Montserrat';
  .signup{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 10px ;
    padding-right: 10px;
    .group_1, .group_4{
      display: flex;
      flex-wrap: wrap;
      .field{
        flex-direction: row;
        flex: 1;
      }
    }
    .brand_logo{
      width: 50%;
      margin-left: -40px ;
      margin-bottom: 30px;
    }
    .title{
      font-weight: 600;
      font-size: 22px;
    }
    .sub_title{
      color: grey;
      font-size: 15px;
      margin-bottom: 10px;
    }
    .form{
      display: flex;
      flex-direction: column;

      .field{
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-top: 30px;
        width: 100%;
        padding-right: 10px;
        .placeholder{
          padding: 0;
          margin-bottom: -11px;
          margin-left: 10px;
          background-color: #ffffff;
          z-index: 5;
          font-weight: 500;
          width: fit-content;
          font-size: 1rem;
          color: grey;

        }
      }
      input{
        outline: none;
        border: 1px #9f9f9f solid;
        border-radius: 4px;
        padding: 10px;
        &:focus{
          border: 1px white solid;
          transition: ease 0.1s;
          box-shadow: 0px 0px 0px 2px $light-blue;

        }
      }
      .error_msg{
        color: red;
        font-size: 13px;
      }
      .forgot_password{
        text-align: end;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        color: #00aaff;
        font-weight: 500;
      }
      .signup_btn{
        width: 100%;
        color: white;
        background-color:  $light-blue;
        padding: 10px;
        border-radius: 4px;
        border: none;
        font-weight: 550;
        cursor: pointer;
        margin-top: 50px;
        &:hover{
          box-shadow: 0px 0px 12px 0px  $light-blue;
          transition: ease 0.3s;
        }
        &:focus{
          outline: none;
        }
      }
      .sign_in{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        color: $light-blue;
        font-weight: 500;
      }
    }
  }
}